# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# build related files
build/

# vscode settings
.vscode/

# Ignore results except example results
test_results/
!test_results/original_graph.png
!test_results/predicted_graph.png

# Ignore user configs except default
config/
!config/default.json
